@import 'rsuite/dist/rsuite.min.css';

:root {
  --rs-primary-50: #f2f8ff;
--rs-primary-100: #c9e1ff;
--rs-primary-200: #a1c8ff;
--rs-primary-300: #77acfc;
--rs-primary-400: #4e91fc;
--rs-primary-500: #2675fc;
--rs-primary-600: #1b66f2;
--rs-primary-700: #1054de;
--rs-primary-800: #0640bf;
--rs-primary-900: #002d96;

--scrollbar-thumb: var(--rs-sidenav-default-text);
  --scrollbar-track: var(--rs-sidenav-default-bg);
}

.rs-theme-dark {
  --rs-primary-50: #f2f8ff;
--rs-primary-100: #c9e1ff;
--rs-primary-200: #a1c8ff;
--rs-primary-300: #77acfc;
--rs-primary-400: #4e91fc;
--rs-primary-500: #2675fc;
--rs-primary-600: #1b66f2;
--rs-primary-700: #1054de;
--rs-primary-800: #0640bf;
--rs-primary-900: #002d96;

--scrollbar-thumb: var(--rs-sidenav-default-text);
  --scrollbar-track: var(--rs-sidenav-default-bg);
}

@import "tailwindcss";
@import "tw-animate-css";
@tailwind utilities;

.sidenav {
  scrollbar-width: thin;
  scrollbar-color: var(--scrollbar-thumb) var(--scrollbar-track);
}

/* WebKit (Chrome, Edge, Safari) */
.sidenav::-webkit-scrollbar {
  width: 8px;
}

.sidenav::-webkit-scrollbar-track {
  background: var(--scrollbar-track);
}

.sidenav::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-thumb);
  border-radius: 6px;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.sidebar{
  display: flex; 
  padding: 0.75rem; 
  flex-direction: column; 
  row-gap: 1rem; 
  height: 100%; 
  list-style-type: none; 
  text-align: left; 
  background-color: var(--sidebar-primary);
  border-radius: 0rem 0.6rem 0.6rem 0rem;
  transition-duration: 500ms;
  transition-delay: 100ms;
}

.sidebar:hover{
  border-radius: 0rem 0.2rem 0.2rem 0rem;
}

.sidebar-separator{
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
  border-width: 0.01rem;
  border-style: dotted;
  border-radius: 5px;
}

.sidebar-head{
  padding: 0.5rem; 
  flex: 1 1 0%; 
  height: 20%; 
  align-items: center;
  justify-content: center;
  display: flex;
}

.sidebar-head-text{
  color: var(--sidebar-primary-foreground); 
}

.sidebar-list{
  display: flex; 
  flex-direction: column; 
  row-gap: 0.5rem; 
  height: 80%; 
}

.sidebar-list-item{
  padding: 0.375rem; 
  flex: 0 1 auto; 
  border-radius: 0.5rem; 
  height: min-content; 
  white-space: nowrap; 
  background-color: var(--sidebar-foreground);
  color: var(--sidebar-primary-foreground);
  transition-duration: 500ms;
  transition-delay: 50ms;
}

.sidebar-list-item:hover{
  background-color: var(--sidebar-primary-foreground);
  color: var(--sidebar-foreground);
  border-radius: 0.05rem;
}

.sidebar-icon{
  
}

.sidebar-footer{
  padding: 0.5rem; 
  flex: 1 1 0%; 
  height: 20%; 
  align-items:end;
  justify-content: center;
  display: flex;
}

.sidebar-footer-text{
  color: var(--sidebar-primary-foreground); 
  vertical-align: middle;
}